body {
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "nav"
    "info-boxes"
    "footer";
}

.info-boxes {
  grid-area: info-boxes;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-box {
  width: 70%;
}

.extra-padding {
  padding: 0 10%;
}

h4 {
  padding-bottom: 10px;
}
